<section id="hero" class="min-h-hero-mobile md:min-h-[65vh] w-full flex flex-col justify-end background-gradiente-custom relative scroll-mt-16 " appScrollReveal>
  <div class="rabisco-inferior-bg"></div> 
  <div class="rabisco-superior-bg"></div>

  <div class="max-w-6xl mx-auto w-full px-5 md:px-0 py-5 md:py-0 flex flex-col md:grid md:grid-cols-2 items-stretch h-full relative">
    <!-- Coluna Esquerda: Texto centralizado verticalmente -->
    <div class="flex flex-col justify-center h-full z-10">
      <h1
        class="text-center"
        appScrollReveal
      >
        Quer 
        <span class="relative inline-block align-baseline">
          <span 
            class="impulsionar-span"
          >impulsionar</span>
          <span class="rabisco-impulsionar-bg"></span>
        </span>
        <br />
        sua carreira e<br />
        conquistar a vaga<br />
        dos seus sonhos?
      </h1>
    </div>
    <!-- Coluna Direita: Imagem colada ao bottom -->
    <div class="relative flex items-end justify-end h-full z-10 md:transform-none transform translate-x-5 translate-y-5">
      <img
        src="assets/images/hand-smartphone.webp"
        alt="Mão segurando smartphone"
        class="hidden md:block w-auto max-h-[90%] drop-shadow-2xl rounded-xl object-contain pointer-events-none z-20"
      />
      <img
        src="assets/images/hand-smartphone-mobile.webp"
        alt="Mão segurando smartphone"
        class="block md:hidden w-auto max-h-[90%] drop-shadow-2xl object-contain pointer-events-none z-20"
      />
    </div>
  </div>
</section> 
