<section id="ebook" class="min-h-[100vh] md:min-h-[60vh] w-full py-16 bg-white scroll-mt-16 overflow-hidden" appScrollReveal [parallaxStrength]=40 [elementWeight]="'HEAVY'">
  <div class="max-w-6xl mx-auto w-full px-5 md:px-0">
    <!-- Texto centralizado no topo -->
    <div class="text-center mb-10">
      <span class="block text-xl md:text-2xl font-normal" appScrollReveal [parallaxStrength]=20 [elementWeight]="'MEDIUM'">
        O eBook 
        <span class="font-bold text-primary-600" appScrollReveal [parallaxStrength]=10 [elementWeight]="'HEAVY'">
          "Impulsione sua Carreira: <br class='hidden md:inline' />
          O segredo das contratações no LinkedIn"
        </span>, é a chave para transformar sua<br>
        presença online e abrir portas para oportunidades incríveis.
      </span>
    </div>
    <!-- Grid principal -->
    <div class="grid md:grid-cols-2 gap-8 items-center">
      <!-- Imagem com rabisco -->
      <div class="relative flex justify-center">
        <img src="assets/images/mulher-linkedin.png" alt="Mulher feliz no notebook" class="max-w-full pointer-events-none" appScrollReveal [parallaxStrength]=30 [elementWeight]="'HEAVY'" />
        <div class="rabisco-ebook-bg"></div>
      </div>
      <!-- Texto à direita -->
      <div>
        <p class="text-lg leading-relaxed" appScrollReveal [parallaxStrength]=15 [elementWeight]="'MEDIUM'">
          Neste guia essencial, você aprenderá as estratégias mais eficazes para se destacar na plataforma, impressionar recrutadores e aumentar suas chances de sucesso profissional. Seja você um recém-formado, um profissional em busca de promoção, ou um empreendedor otimista, este eBook é a ferramenta que faltava para impulsionar sua carreira.
        </p>
      </div>
    </div>
  </div>
</section>
