<section id="quem-sou-eu" class="min-h-[100vh] md:min-h-[60vh] w-full py-16 bg-white scroll-mt-16 overflow-hidden" appScrollReveal [parallaxStrength]=40 [elementWeight]="'HEAVY'">
  <div class="max-w-6xl mx-auto w-full px-5 md:px-0 grid grid-cols-1 md:grid-cols-2 gap-8 items-center relative">
    <!-- Coluna Esquerda: Texto -->
    <div>
      <h2 class="titulo-mouly" appScrollReveal [parallaxStrength]=60 [elementWeight]="'HEAVY'">
        Mas afinal, quem sou eu?
      </h2>
      <p class="texto-destaque" style="margin-bottom: 24px;" appScrollReveal [parallaxStrength]=20 [elementWeight]="'MEDIUM'">
        Me chamo <span class="texto-destaque-azul">Cecília Rodrigues</span>, tenho 25 anos, sou internacionalista e, com o apoio do <span class="texto-destaque-azul">LinkedIn</span> e minha dedicação em estudar todas as suas ferramentas e funcionalidades, além de descobrir dicas valiosas, fui chamada para participar de diversas entrevistas de emprego e, assim, fui contratada pela empresa que eu mais queria dentre todas as vagas!
      </p>
      <p class="texto-destaque" style="margin-bottom: 24px;" appScrollReveal [parallaxStrength]=20 [elementWeight]="'MEDIUM'">
        Dessa experiência, surgiu a ideia de escrever um eBook para compilar todo o conhecimento que acumulei durante essa jornada, passo a passo, pois isso é algo que eu adoraria ter tido quando estava em busca de um emprego na minha área.
      </p>
      <p class="texto-destaque" appScrollReveal [parallaxStrength]=20 [elementWeight]="'MEDIUM'">
        Com minhas dicas, tenho certeza de que você aumentará suas chances de se destacar em meio a milhões de outros profissionais.
      </p>
    </div>
    <!-- Coluna Direita: Imagem e rabiscos -->
    <div class="relative flex justify-center items-center mobile-image-container">
      <div class="relative z-0">
        <img 
          src="assets/images/ilustracao-cecilia.png" 
          alt="Cecília Rodrigues" 
          class="w-full h-full object-cover rounded-xl pointer-events-none md:w-full md:translate-x-0"
          appScrollReveal [parallaxStrength]=30 [elementWeight]="'HEAVY'" 
        />
      </div>
    </div>
  </div>
</section>
